# Career Recommender Dataset Analysis
Exploratory Data Analysis on prediction-data.csv

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv('../data/prediction-data.csv')
df.head(5)

,Logical quotient rating,hackathons,coding skills rating,public speaking points,self-learning capability?,Extra-courses did,certifications,workshops,reading and writing skills,memory capability score,Interested subjects,interested career area,Type of company want to settle in?,Taken inputs from seniors or elders,Interested Type of Books,Management or Technical,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,5,0,6,2,yes,no,information security,testing,poor,poor,programming,testing,BPA,no,Series,Management,smart worker,yes,no,Applications Developer
1,7,6,4,3,no,yes,shell programming,testing,excellent,medium,Management,system developer,Cloud Services,yes,Autobiographies,Technical,hard worker,no,yes,Applications Developer
2,2,3,9,1,no,yes,information security,testing,excellent,poor,data engineering,Business process analyst,product development,yes,Travel,Technical,smart worker,no,no,Applications Developer
3,2,6,3,5,no,yes,r programming,database security,excellent,poor,networks,testing,Testing and Maintainance Services,yes,Guide,Management,smart worker,yes,yes,Applications Developer
4,2,0,3,4,yes,no,distro making,game development,excellent,medium,Software Engineering,system developer,BPA,no,Health,Technical,hard worker,yes,no,Applications Developer

In [19]:
# Basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6901 entries, 0 to 6900
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Logical quotient rating              6901 non-null   int64
 1   hackathons                           6901 non-null   int64
 2   coding skills rating                 6901 non-null   int64
 3   public speaking points               6901 non-null   int64
 4   self-learning capability?            6901 non-null   object
 5   Extra-courses did                    6901 non-null   object
 6   certifications                       6901 non-null   object
 7   workshops                            6901 non-null   object
 8   reading and writing skills           6901 non-null   object
 9   memory capability score              6901 non-null   object
 10  Interested subjects                  6901 non-null   object
 11  interested career area               6901 non-null   object
 12  Type of company want to settle in?   6901 non-null   object
 13  Taken inputs from seniors or elders  6901 non-null   object
 14  Interested Type of Books             6901 non-null   object
 15  Management or Technical              6901 non-null   object
 16  hard/smart worker                    6901 non-null   object
 17  worked in teams ever?                6901 non-null   object
 18  Introvert                            6901 non-null   object
 19  Suggested Job Role                   6901 non-null   object
dtypes: int64(4), object(16)
memory usage: 1.1+ MB

In [20]:
# Describe numeric columns
df.describe(include='all')

,Logical quotient rating,hackathons,coding skills rating,public speaking points,self-learning capability?,Extra-courses did,certifications,workshops,reading and writing skills,memory capability score,Interested subjects,interested career area,Type of company want to settle in?,Taken inputs from seniors or elders,Interested Type of Books,Management or Technical,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
count,6901.000000,6901.000000,6901.000000,6901.000000,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901,6901
unique,NaN,NaN,NaN,NaN,2,2,9,8,3,3,10,6,10,2,31,2,2,2,2,12
top,NaN,NaN,NaN,NaN,yes,no,r programming,database security,excellent,medium,Software Engineering,system developer,Service Based,yes,Guide,Management,smart worker,no,yes,Network Security Engineer
freq,NaN,NaN,NaN,NaN,3496,3529,803,897,2328,2317,731,1178,725,3501,405,3461,3523,3470,3544,630
mean,4.991016,2.999710,5.010723,4.988263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.577704,2.010191,2.568347,2.599500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.000000,1.000000,3.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.000000,3.000000,5.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7.000000,5.000000,7.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,9.000000,6.000000,9.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df[df.isnull() == True].value_counts()

Series([], Name: count, dtype: int64)

In [22]:
# Checking for Categorical features
df.select_dtypes(include=['object']).columns

Index(['self-learning capability?', 'Extra-courses did', 'certifications',
       'workshops', 'reading and writing skills', 'memory capability score',
       'Interested subjects', 'interested career area ',
       'Type of company want to settle in?',
       'Taken inputs from seniors or elders', 'Interested Type of Books',
       'Management or Technical', 'hard/smart worker', 'worked in teams ever?',
       'Introvert', 'Suggested Job Role'],
      dtype='object')

# Analyzing and Encoding Categorical features

In [23]:
df['self-learning capability?'].head()

0    yes
1     no
2     no
3     no
4    yes
Name: self-learning capability?, dtype: object

In [24]:
df.replace({'self-learning capability?':{'yes':1,'no':0}},inplace=True)

In [25]:
for item in ['self-learning capability?', 'Extra-courses did', 'certifications',
       'workshops', 'reading and writing skills', 'memory capability score',
       'Interested subjects', 'interested career area ',
       'Type of company want to settle in?',
       'Taken inputs from seniors or elders', 'Interested Type of Books',
       'Management or Technical', 'hard/smart worker', 'worked in teams ever?',
       'Introvert', 'Suggested Job Role']:
    print(df[item].head())

0    1
1    0
2    0
3    0
4    1
Name: self-learning capability?, dtype: int64
0     no
1    yes
2    yes
3    yes
4     no
Name: Extra-courses did, dtype: object
0    information security
1       shell programming
2    information security
3           r programming
4           distro making
Name: certifications, dtype: object
0              testing
1              testing
2              testing
3    database security
4     game development
Name: workshops, dtype: object
0         poor
1    excellent
2    excellent
3    excellent
4    excellent
Name: reading and writing skills, dtype: object
0      poor
1    medium
2      poor
3      poor
4    medium
Name: memory capability score, dtype: object
0             programming
1              Management
2        data engineering
3                networks
4    Software Engineering
Name: Interested subjects, dtype: object
0                     testing
1            system developer
2    Business process analyst
3                     testing
4            system developer
Name: interested career area , dtype: object
0                                  BPA
1                       Cloud Services
2                  product development
3    Testing and Maintainance Services
4                                  BPA
Name: Type of company want to settle in?, dtype: object
0     no
1    yes
2    yes
3    yes
4     no
Name: Taken inputs from seniors or elders, dtype: object
0             Series
1    Autobiographies
2             Travel
3              Guide
4             Health
Name: Interested Type of Books, dtype: object
0    Management
1     Technical
2     Technical
3    Management
4     Technical
Name: Management or Technical, dtype: object
0    smart worker
1     hard worker
2    smart worker
3    smart worker
4     hard worker
Name: hard/smart worker, dtype: object
0    yes
1     no
2     no
3    yes
4    yes
Name: worked in teams ever?, dtype: object
0     no
1    yes
2     no
3    yes
4     no
Name: Introvert, dtype: object
0    Applications Developer
1    Applications Developer
2    Applications Developer
3    Applications Developer
4    Applications Developer
Name: Suggested Job Role, dtype: object

In [26]:
for item in ['Extra-courses did','Taken inputs from seniors or elders','worked in teams ever?','Introvert']:
    df.replace({item:{'yes':1,'no':0}},inplace=True)
    print(df[item].head())

0    0
1    1
2    1
3    1
4    0
Name: Extra-courses did, dtype: int64
0    0
1    1
2    1
3    1
4    0
Name: Taken inputs from seniors or elders, dtype: int64
0    1
1    0
2    0
3    1
4    1
Name: worked in teams ever?, dtype: int64
0    0
1    1
2    0
3    1
4    0
Name: Introvert, dtype: int64

In [27]:
## encoding "certifications" column.
df.replace({'certifications':{'r programming' : 0,
'information security': 1,
'shell programming' : 2,
'machine learning' : 3,
'full stack': 4,
'hadoop' : 5,
'python' : 6,
'distro making' : 7,
'app development' : 8
}},inplace=True)



## encoding "workshops" column.
df.replace({'workshops':{'database security' :0,
'system designing' : 1,
'web technologies' : 2,
'hacking' : 3,
'testing' : 4,
'data science' : 5,
'game development' : 6,
'cloud computing' : 7
}},inplace=True)



## encoding "reading and writing skills" column.
df.replace({'reading and writing skills':{'poor':0,'medium':1, 'excellent':2}},inplace=True)



## encoding "memory capability score" column.
df.replace({'memory capability score':{'poor':0,'medium':1, 'excellent':2}},inplace=True)



## encoding "Interested subjects" column.
df.replace({'Interested subjects':{'Software Engineering': 0, 'IOT': 1, 'cloud computing': 2, 'programming': 3, 'networks': 4,
    'Computer Architecture': 5, 'data engineering': 6, 'hacking': 7, 'Management': 8, 'parallel computing': 9}},inplace=True)



## encoding "interested career area" column.
df.replace({'interested career area ':{'system developer': 0, 'security': 1, 'Business process analyst': 2, 'developer': 3, 'testing': 4,
    'cloud computing': 5}},inplace=True)



## encoding "Type of company want to settle in?" column.
df.replace({'Type of company want to settle in?':{'Service Based': 0, 'Web Services': 1, 'BPA': 2, 'Testing and Maintainance Services': 3,
    'Product based': 4, 'Finance': 5, 'Cloud Services': 6, 'product development': 7,
    'Sales and Marketing': 8, 'SAaS services': 9}},inplace=True)


## encoding "Interested Type of Books" column.
df.replace({'Interested Type of Books':{'Guide': 0, 'Health': 1, 'Self help': 2, 'Horror': 3, 'Biographies': 4, 'Science fiction': 5,
    'Satire': 6, 'Childrens': 7, 'Autobiographies': 8, 'Prayer books': 9, 'Fantasy': 10, 'Journals': 11,
    'Trilogy': 12, 'Anthology': 13, 'Encyclopedias': 14, 'Drama': 15, 'Mystery': 16, 'History': 17,
    'Science': 18, 'Dictionaries': 19, 'Diaries': 20, 'Religion-Spirituality': 21, 'Action and Adventure': 22,
    'Poetry': 23, 'Cookbooks': 24, 'Comics': 25, 'Art': 26, 'Travel': 27, 'Series': 28, 'Math': 29, 'Romance': 30}},inplace=True)



## encoding "Management or Technical" column.
df.replace({'Management or Technical':{'Management': 0, 'Technical': 1}},inplace=True)



## encoding "hard/smart worker" column.
df.replace({'hard/smart worker':{'hard worker': 0, 'smart worker': 1}},inplace=True)

In [28]:
df.head()

,Logical quotient rating,hackathons,coding skills rating,public speaking points,self-learning capability?,Extra-courses did,certifications,workshops,reading and writing skills,memory capability score,Interested subjects,interested career area,Type of company want to settle in?,Taken inputs from seniors or elders,Interested Type of Books,Management or Technical,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,5,0,6,2,1,0,1,4,0,0,3,4,2,0,28,0,1,1,0,Applications Developer
1,7,6,4,3,0,1,2,4,2,1,8,0,6,1,8,1,0,0,1,Applications Developer
2,2,3,9,1,0,1,1,4,2,0,6,2,7,1,27,1,1,0,0,Applications Developer
3,2,6,3,5,0,1,0,0,2,0,4,4,3,1,0,0,1,1,1,Applications Developer
4,2,0,3,4,1,0,7,6,2,1,0,0,2,0,1,1,0,1,0,Applications Developer

In [29]:
X = df.drop(columns='Suggested Job Role',axis=1)
Y = df['Suggested Job Role']

Training model

In [30]:
import sklearn
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

In [31]:
from sklearn.metrics import accuracy_score, precision_score, f1_score,confusion_matrix,accuracy_score
from sklearn.tree import DecisionTreeClassifier


dtree = DecisionTreeClassifier(random_state=1)
dtree.fit(X_train,Y_train)
Y_pred = dtree.predict(X_test)

print("Precision of Decision Tree Classifier: ",precision_score(Y_test, Y_pred, average='weighted'))
print("  ")

print("F1-Score of Decision Tree Classifier: ",f1_score(Y_test, Y_pred, average='weighted'))
print("  ")

accuracy = accuracy_score(Y_test,Y_pred)
print("Accuracy Score of Decision Tree Classifier: ",accuracy*10)
print("  ")

cm = confusion_matrix(Y_test,Y_pred)
print("confusion matrics = ")
print(cm)

Precision of Decision Tree Classifier:  0.09224552493303823

F1-Score of Decision Tree Classifier:  0.0918793840381182

Accuracy Score of Decision Tree Classifier:  0.9222597778850796

confusion matrics =
[[10 11 19 14 21 13  8 18  8  6 13 20]
 [14 10 13 12 19 12 13 18 17 10 13 18]
 [17 16 18 10 17 15 15 16 16 16 17 19]
 [13 14 16 13 21 19 18 14 11 21 11 11]
 [19  9 15 12 16 14 18 19 17 19 18 14]
 [16 18  9 15 21 15 12  6 19  9 18 17]
 [12 12 13  7 21 15 19 15 11 10 18 14]
 [12 16 17  9 14  7 18 12 14 14 12 13]
 [13 10 17 13 17 11 11 16 18 15 11 12]
 [10 13 12 10 13  9 20 10 12 17 18 12]
 [11 13 16 10 19  9 12 12 20 12 23 16]
 [13 19 15  7 11 11 17 16 22 11 22 20]]

In [32]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state = 10)
rf.fit(X_train, Y_train)
rfc_y_pred = rf.predict(X_test)

print("Precision of RandomForest Classifier: ",precision_score(Y_test, rfc_y_pred, average='weighted'))
print("  ")

print("F1-Score of RandomForest Classifier: ",f1_score(Y_test, rfc_y_pred, average='weighted'))
print("  ")

rfc_accuracy = accuracy_score(Y_test,rfc_y_pred)
print("Accuracy of RandomForest Classifier: ",rfc_accuracy*10)
print("  ")

rfc_cm = confusion_matrix(Y_test,rfc_y_pred)

print("confusion matrics=")
print(rfc_cm)

Precision of RandomForest Classifier:  0.08951139972110439

F1-Score of RandomForest Classifier:  0.08669233378141541

Accuracy of RandomForest Classifier:  0.8643167551907291

confusion matrics=
[[10 10 14 10 24 13 20  5 19 13 15  8]
 [17 23 14  7 21 21 10 14  6 13 15  8]
 [14  9 23 12 27 26 15 17 17  8 15  9]
 [19 15 15 14 23 17 22 18 10 13 11  5]
 [18 16 18 15 22 20 12 13 15 11 17 13]
 [22 17 17  8 23 11 16 14 12 16  9 10]
 [10 15 15  9 26 11 15 19 18  9 11  9]
 [15 14 12  5 18 19 15 14 15 10 11 10]
 [19 12 18  8 19 10 13 16 10 10 12 17]
 [11 10 13  8 21 13 16 13 12 14 17  8]
 [14 12 13 10 29 18 22 24  7  8  8  8]
 [15 17 21  9 20 17 13 17  5 17 18 15]]

In [33]:
import pickle
pickle.dump(dtree,open('../models/dtmodel.pkl','wb'))

import pickle
pickle.dump(rf,open('../models/rfmodel.pkl','wb'))